 button {
    font-size: 1.2rem;
    background-color: #151616;
    color: white;
    border: 1px solid transparent;
  }
  button:hover {
    background-color: #4C4C4D;
    border: 1px solid #7A7B7C;
  }
  
  #calculator {
    background-color: #212223;
    color: white;
    min-width: 300px;
    min-height: 350px;
    margin: auto;
    padding: 0.5em;
    display: grid;
    grid-gap: 0.5em;
    border: 2px solid #151616;
    grid-template-areas: 
      "history history history history"
      "display display display display"
      "clear clear divide multiply"
      "seven eight nine subtract"
      "four five six add"
      "one two three equals"
      "zero zero decimal equals";
  }
  $areas: (history,display,clear,divide,multiply,subtract,add,equals,decimal,zero,one,two,three,five,six,seven,eight,nine);
  @each $area in $areas {
    ##{$area} {
      grid-area: #{$area};
    }
  }
  #decimal {
    font-size: 1.5rem;
  }
  #history {
    padding-top: 0.5rem;
    text-align: right;
    font-size: 0.9rem;
    min-height: 0.9rem;
  }
  #display {
    text-align: right;
    font-size: 1.5rem;
  }
  .test-box {
    border: 1px solid black;
  }